* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
:link{
  text-decoration: none !important;
  color: black;
}
:link.active{
  text-decoration: none !important;
  color: black;
}
:visited{
  text-decoration: none;
  color: black;
}


